<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TamakZhik - Home</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  <header class="top-bar">
    <div class="logo">TamakZhik</div>
    <div class="search-bar">
      <input type="text" placeholder="Search..." >
    </div>
    <a routerLink="/likes">
        <img src="https://icons.veryicon.com/png/o/miscellaneous/ui-basic-linear-icon/like-106.png" width=30px class="like">
    </a>
  </header>
  <main>
    <section class="recipe-section">
      <h2>Recipes</h2>
      <p>Welcome to our recipe book site, where culinary creativity meets mouth-watering inspiration with a collection of delicious recipes from around the globe</p>
    </section>
    <aside class="sidebar">
      <h2>Categories</h2>
      <ul>
        <li><a routerLink="caet">Breakfast</a></li>
        <li><a href="#">Baking</a></li>
        <li><a href="#">Desserts</a></li>
      </ul>
    </aside>
  </main>
</body>
</html>
