<div class="auth-container"> <img src="https://i.pinimg.com/564x/e3/89/75/e3897543154eb67dbfa876da7c51b3c1.jpg" alt="Login Image" class="login-image">  
    <h1>TamakZhik</h1>
    <form class="auth-form">

      <h2>Log In</h2>
    <p>Log in to save and review your favorite recipes.</p>
      <div class="form-group">
        <button type="button" (click)="redirectToAuthentication('authentification')"><span>login with email</span></button>
        <button type="submit"><span>login with facebook</span></button>
        <button type="submit"><span>login with google</span></button>
      </div>
    </form>
  </div>
 